@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Playfair+Display');


li, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p, label, h5 {
    font-family: 'Muli', sans-serif;
}

#hero {
    background-image: url('../img/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1374px;
    height: 392px;
}

ul {
    width: 163px;
    height: 35px;
}
li {
    line-height: 58.23px;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
    list-style: none;
}
a {
    text-decoration: none;
}
