@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Playfair+Display');


h2, h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: normal;
}

h5, p, label {
    font-family: 'Muli', sans-serif;
}

img {
    max-width: 100%;
}

/* header*/

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

nav li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: inherit;
}

li {
    line-height: 58.23px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 49px;
    color: #000000;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    display: block;
    color: #000000;
}

/* intro*/
#intro {
    margin-bottom: 0;
}
/* hasło*/
h4 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 60px;
    top: 290px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 55.54px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
}

/*tekst*/
#intro p {
    position: absolute;
    top: 375px;
    left: 25px;
    width: 410px;
    height: 200px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

/*przycisk*/
.btn-intro {
    position: absolute;
    top: 650px;
    left: 25px;
    width: 400px;
    height: 50px;
    background-color: #acceb7;
    color: white;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*napis-zdjęcie Planty*/
.logo {
    position: absolute;
    top: 100px;
    left: 15px;
    width: 404px;
    height: 367px;
}

/* kontener w którym znajdują się powyższe elementy*/
.planty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*--- druga część intro ---*/

/* zdjęcie kwiatka, który ma być pod ramką i pod komórką */
.top {
    position: relative;
    top: -500px;
    left: -75px;
    width: 800px;
    height: 590px;
    z-index: -3;
}

/*zdjęcie komórki*/
.mobile {
    position: relative;
    top: 200px;
    left: 10px;
    width: 350px;
    height: 600px;
}

/* -- kontener w którym znajdują się zdjęcia / przesunięta ramka */
.images {
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 130vh;
}
.images::after {
    content: '';
    width: 410px;
    height: 590px;
    position: absolute;
    z-index: -2;
    top: 115px;
    left: -40px;
    border: 5px solid #b7dbc8;
}

/* sekcja #hero*/
#hero {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    max-width: 100%;
    height: 80vh;
    margin-bottom: 20px;
    padding: auto 0;
}
/*hasło w hero*/
h2 {
    float: right;
    max-width: 800px;
    position: absolute;
    top: 50%;
    color:#FFFFFF;
    right: 15%;
    font-size: 48px;
    line-height: 80px;
    font-weight: 100;
    font-style: italic;
    letter-spacing: inherit;
}

/* sekcja experts*/
#experts {
    position: relative;
    margin-bottom: 100px;;
}
/*hasło*/
.pick {
    font-size: 52px;
    line-height: 30px;
    font-weight: 100;
    font-style: italic;
    letter-spacing: inherit;
    font-style: italic;
}
/*linda - cały kontener z zdjęciem , ramką , akapitem i dwoma nagłówkami*/
.linda {
    position: relative;
    width: 500px;
    height: 300px;
}
.linda::after {
    content: '';
    width: 380px;
    height: 230px;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 70px;
    border: 5px solid #b7dbc8;
}
.linda img {
    border-radius: 50%;
    border: 5px solid #acceb7;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 45px;
}
.linda h3 {
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 36px;
    font-style: italic;
    line-height: 10px;
    margin-bottom: 0;
}
.linda h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 80px;
    left: 150px;
    margin-top: 0;
}
.linda p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    width: 270px;
    height: 80px;
    position: absolute;
    top: 80px;
    left: 150px;
    margin-top: 40px;
}
/*albert  cały kontener z zdjęciem , ramką , akapitem i dwoma nagłówkami*/
.albert {
    position: absolute;
    top: 250px;
    left: 400px;
    width: 500px;
    height: 300px;
}
.albert::after {
    content: '';
    width: 380px;
    height: 230px;
    position: absolute;
    z-index: -2;
    top: -5px;
    left: 60px;
    border: 5px solid #b7dbc8;
}
.albert img {
    border-radius: 50%;
    border: 5px solid #acceb7;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 35px;
    left: 10px;
}
.albert h3 {
    position: absolute;
    top: 0;
    left: 150px;
    font-size: 36px;
    font-style: italic;
    line-height: 10px;
    margin-bottom: 0;
}
.albert h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 80px;
    left: 150px;
    margin-top: 0;
}
.albert p {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    width: 270px;
    height: 80px;
    position: absolute;
    top: 80px;
    left: 150px;
    margin-top: 40px;
}
/* sekcja contact */
#contact {
    position: relative;
    margin-bottom: 150px;
}
#contact h3 {
    position: absolute;
    top: -120px;
    left: 20px;
    font-size: 40px;
    font-style: italic;
    line-height: 10px;
    font-family: 'Playfair Display', sans-serif;
}
#contact p {
    width: 94px;
    height: 18px;
    color: #4f4f4f;
    font-family: Muli;
    font-size: 16px;
    font-weight: 400;
    line-height: 5px;
    margin-bottom: 5px;
}
#contact input {
    border: 2px solid #051405;
    width: 350px;
    height: 30px;
}
#contact textarea {
    border: 2px solid #051405;
    width: 350px;
    height: 200px;
}
#contact button {
    background-color: #acceb7;
    height: 50px;
    width: 350px;
    color: white;
    margin-top: 70px;
    border: none;
}
.bottom {
    position: relative;
}
.bottom::after {
    content: '';
    width: 350px;
    height: 490px;
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 20px;
    border: 5px solid #b7dbc8;
}
.bottom img {
    position: absolute;
    top: 40px;
    left: 50px;
    height: 490px;
    width: 350px;
}
/*sekcja footer */
.list ul {
    margin-left: 200px;
    margin-top: 5px;
}
.list ul li {
    display: inline-block;
}
.icons {
    width: 55px;
    height: 55px;
    margin: 5px;
    align-items: center;
}

.rights p {
    text-align: left;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: Muli;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
}
footer {
    border: 1px solid #ffffff;
    width: 100%;
    height: 100px;
    background-color: #acceb7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/

}
