@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Playfair+Display');


li, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 60px;
    top: 80px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 55.54px;
    text-transform: uppercase;
    letter-spacing: 0.78px;
}

p, label, h5 {
    font-family: 'Muli', sans-serif;
}

#hero {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
}

header {
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: inherit;
}

li {
    line-height: 58.23px;
    font-weight: 700;
    font-size: 49px;
    color: #000000;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    display: block;
    color: #000000;
}

h2 {
    float: right;
    max-width: 800px;
    position: relative;
    top:30%;
    color:#FFFFFF;
    right: 10%;
    font-size: 48px;
    line-height: 135px;
    font-weight: 100;
    font-style: italic;
}

nav li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.planty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 134px;
    height: 1547px;
}

#intro p {
    position: relative;
    top: 10px;
    left: 5px;
    width: 410px;
    height: 300px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
