@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Playfair+Display');


li, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p, label, h5 {
    font-family: 'Muli', sans-serif;
}

